* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    
}

.sidebar {
    width: 250px;
    background-color: #007bff;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    padding-left: 20px;
}

.account-info {
    margin-bottom: 20px;
}

.account-name {
    font-size: 20px;
    font-weight: bold;
}

.account-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.nav-links {
    list-style: none;
    padding-left: 0;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.nav-links a:hover {
    background-color: #0056b3;
    padding-left: 20px;
}

.sidebar-bottom {
    margin-top: auto;
    padding-left: 20px;
}

.logout {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

.logout:hover {
    background-color: #0056b3;
    padding-left: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 30px;
}

.box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.balance-box {
    width: 97%;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.balance-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balance-amount {
    font-size: 34px;
    font-weight: bold;
}

.balance-percentage {
    font-size: 24px;
    font-weight: bold;
}

.green {
    color: #28a745;
}

.savings {
    margin-top: 20px;
    font-size: 18px;
}

.savings-amount {
    font-size: 20px;
    font-weight: bold;
}

.goal-progress {
    margin-top: 10px;
}

.goal-bar {
    width: 100%;
    height: 60px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.goal-progress-bar {
    height: 100%;
    background-color: #28a745;
    border-radius: 10px;
}

.goal-percentage {
    font-size: 18px;
    font-weight: bold;
}

.transactions-box ul {
    list-style: none;
    padding-left: 0;
}

.transactions-box li {
    font-size: 16px;
    margin: 5px 0;

}

.transactions-box {
    color: white;
    background-color: #28a745;
}

.boxes-container {
    display: flex;
    gap: 20px;
}

.boxes-container .box {
    flex-basis: 48%; /* Each box will take up 48% of the width */
}
